<div class="row">

    <div class="col-6">
 
        <app-donut title="Titulo 1"
                    [data]="data"
                    [labels]="labels">
        </app-donut>
    
    </div>

    <div class="col-6">
        
        <app-donut title="Titulo 1"
                    [data]="data"
                    [labels]="labels">
        </app-donut>
 
    </div>

</div>

<div class="row">

    <div class="col-6">
 
        <app-donut title="Titulo 1"
                    [data]="data"
                    [labels]="labels">
        </app-donut>
    
    </div>

    <div class="col-6">
        
        <app-donut title="Titulo 1"
                    [data]="data"
                    [labels]="labels">
        </app-donut>
 
    </div>

</div>